body{
    background-color: gray;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -10px;
}

#parent{
    width: 400px;
    height: 85vh;

    background-color: rebeccapurple;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;


    margin: auto;

    border-radius: 20px;

    padding-bottom: 50px;

    overflow: auto;
}

#myInput{
    width: 60%;
}


#myInput,
img .my-img,
#add,
.btnPlus,
.btnMinus,
#child{
    padding: 10px 20px;
    margin: 20px;
    
    border-radius: 10px;
    border: none;
}


#add{
    background-color: lightskyblue;
    color: white;

    display: inline;
    padding: 10px 50px ;
    border-radius: 20px;
}
#add:hover{
    background-color: darkturquoise ;
}

#child{
    width: 60%;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task{
    font-size: 24px;
}