*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(176, 196, 222,.2);

    /* color: #0C103B; */
}

.navbar{
    font-family: 'Bebas Neue', cursive;

    /* background-color: #8da5e2; */
    background-color: #a09486;

    width: 100%;

    position: sticky;
    top: 0;
    z-index: 1;
    

    padding: 12px 0;

    font-size: 26px;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 5px 15px black;

}


.brand{
    margin-left: 50px;
    
    font-size: 30px;
    font-weight: bold;

    font-family: 'Lobster', cursive;
}
.brand a{
    text-decoration: none;
    /* color: #0C103B; */
    color: black;

    text-shadow: 2px 2px 20px black;

    display: inline-block;
    transition: all .5s ease;
}
.brand a:hover{
    /* text-shadow: 2px 2px 20px black; */

    transform: scale(1.2,1.2);
}



.nav{
    width: 55%;
    height: 44px;

    display: flex;
    align-items: center;

}
.navbar .nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar .nav ul li{
    width: 100px;
    height: 100px;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav ul li a{
    text-decoration: none;
    /* color: #0C103B; */
    color: black;

    padding: 2px 5px;

    text-shadow: 2px 2px 20px black;

    transition: all .5s ease;

    display: inline-block;
}

.navbar .nav ul li a:hover{
    color: rgb(176, 196, 222);
    border: 2px solid rgb(176, 196, 222);
    border-radius: 5px;

    transform: scale(1.2,1.2);

    /* text-shadow: 10px 10px 20px black; */
}


.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);

    margin-top: 10px;
}

.text{
    font-family: 'Bebas Neue', cursive;

    text-align: center;

    margin-top: 40px;

    font-size: 40px;

    text-shadow: 2px 2px 20px black;

    
}


.myDiv{
    width: 280;
    height: 420px;

    /* background-color: slategray; */
    background-color: #a09486;

    border-radius: 10px;
    box-shadow: 5px 5px 15px black;

    margin: 20px;
    margin-bottom: 80px;

    overflow: hidden;

    text-align: center;

    transition: all .3s ease;
}
.myDiv:hover{
    transform: scale(1.06,1.06);

}


.myDiv img{
    width: 100%;
    height: 70%;

    border-radius: 10px 10px 0 0;
    /* border-radius: 10px; */

    box-shadow: 5px 5px 15px black;
}


.child{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    height: 30%;

    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;

    position: relative;

}
.tit{
    font-size: 21px;

    /* height: 30%; */

    overflow: hidden;
    /* display: flex;
    flex-wrap: nowrap; */
}

.price{
    font-size: 20px;
    /* margin-top: 15px; */

    position: absolute;
    left: 50%;bottom: 40px;

    transform: translateX(-50%);
}

.category{
    font-size: 16px;
    color:  rgb(245, 245, 245,.8);
    /* color: rgb(250, 235, 215,.8); */

    text-transform: capitalize;
}